html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    

 }

#search-form {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
}

input {
  width: 150px;
  height: 20px;
  padding: 10px;
}

img {
  width: 350px;
  height: 200px;
text-align: center;
display: inline-block;
vertical-align: middle;

}

.photo-card {
  margin: 10px 10px;
  width: 370px;
  padding: 10px;
}

.photo-card:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  text-align: center;
  scroll-behavior: smooth;
}

.stats {
  display: flex;
  padding: 10px 10px;
  justify-content: space-around;
  vertical-align: middle;
}

.stats-item {
  margin: 0 10px;
  display: flex;
 flex-direction: column;
}

.more {
  display: block;
  margin: auto;
  width: 100px;
  height: 40px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 50px;
}

.more:hover {
  outline: none;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
